# .vscode is annoying
.vscode/*

# Exclude any data
data/external/*
data/interim/*
data/processed/*
data/raw/*

# Don't exclude the READMEs for the data folder
!data/*/README.md

# Don't exclude .gitkeep
!.gitkeep

# exclude .pyc
#**/__pycache__
#*.pyc
