# .vscode is annoying
.vscode/*

# Exclude any data
data/external/*
data/interim/*
data/processed/*
data/raw/*

# Exclude results folder contents
results/*
!results/.gitkeep

# Don't exclude the READMEs for the data folder
!data/*/README.md

# Don't exclude .gitkeep
!.gitkeep

# exclude .pyc
**/__pycache__
*.pyc
